.slider button{
    outline: none;
    border: none;
}

.slider{
    height: 50vh;
    min-height: 20em;
    position: relative;
}

.slider__content{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.slider__content .left-col{
    background-image: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.7), transparent);
    width: 70%;
    max-width: 45em;
    min-width: 25em;
    height: 100%;
}

.left-col__content{
    position: absolute;
    top: 20%;
    left: 3.5em;
}

.left-col__content .title{
    margin-left: -0.5em;
    font-size: 3em;
}

.left-col__content .overview{
    display: none;
    line-height: 1.4em;
    color: rgb(201, 201, 201);
}

.left-col__content .genres{
    width: 15em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.genres .genre{
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgb(83, 92, 92);
    border-radius: 5px;
    padding: 4px 8px;

    font-size: 0.7em;
    color: rgb(201, 201, 201);
}

.left-col__content .rating{
    margin-top: 2em;
}

.rating label{
    background-color: #0ca852;
    padding: 5px 8px;
    border-radius: 5px;
}

.slider__content .btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(52, 58, 58);
    padding: 5px 2px;
    height: 80px;
    z-index: 1;
}
.slider__content .btn:hover{
    filter: brightness(1.5);
}

.slider__content #prev-btn{
    left: 1.5em;
}

.slider__content #next-btn{
    right: -1.5em;
}

.slider__content .dots{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.8em;
    width: 10em;
    z-index: 1;

    display: flex;
}

.dots .dot{
    background-color: rgb(193, 196, 199);
    margin-left: 8px;
    width: 25px;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.dots .dot.active{
    background-color: transparent;
    border: 2px solid rgb(193, 196, 199);
    width: 25px;
    height: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.bottom-shade{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: linear-gradient(transparent, rgba(0,0,0,1));
}

@media only screen and (min-width: 1100px) {
    .slider__content .overview{
        display: initial;
    }

    .slider__content .left-col__content{
        width: 50%;
    }

    .left-col__content{
        top: 5%;
    }
    
    .genres .genre{
        margin-top: 15px;
    }

  }