.titlebar{
    padding: 0;
    margin: 0;
    font-family: "agency-fb",sans-serif;
    letter-spacing: 1px;
    -webkit-app-region: drag;
}

.titlebar__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title{
    padding: 0.5em 0.5em; 
    pointer-events: none;
}

.buttons{
    -webkit-app-region: no-drag;
}

.buttons>button{
    padding: 0.5em 1.2em;
    border: none;
    outline: none;
    background-color: transparent;
}

.buttons .close:hover{
    background-color: rgb(211, 29, 29);
}

.buttons .maximize:hover,.buttons .restore-down:hover,.buttons .minimize:hover{
    background-color: rgb(44, 44, 44);
}